[submodule "libs/CMSIS/CMSIS_DEVICE_F4"]
	path = libs/CMSIS/CMSIS_DEVICE_F4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "libs/CMSIS/CMSIS_5"]
	path = libs/CMSIS/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "libs/Hydrolib-soft"]
	path = libs/Hydrolib-soft
	url = https://github.com/SeaJackal/Hydrolib-soft.git
[submodule "libs/CMSIS/cmsis-device-f1"]
	path = libs/CMSIS/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1
